# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# ENSIME specific
.ensime_cache/
.ensime
### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

target/
lib_managed/
src_managed/
project/boot/
.history
.cache

LISTING_ACTIVITY_20170209.txt.gz
LISTING_ACTIVITY_20170309.txt.gz
LISTING_ACTIVITY_20170310.txt.gz
useragents.tsv
user-agent-data.csv
user-agent-data.json
useragents_20170310.tsv
listing-activity.json
useragents.csv
useragents.json
useragents.txt
broadway-web-client-test-fastopt.js
broadway-web-client-test-fastopt.js.map
example/incoming
example/work
example/archive
bourne-web-client-fastopt.js
bourne-web-client-fastopt.js.map
bourne-web-client-launcher.js
bourne-cli-fastopt.js
bourne-cli-fastopt.js.map
bourne-server-fastopt.js
bourne-server-fastopt.js.map
bourne-worker-fastopt.js
bourne-worker-fastopt.js.map
public/javascripts/broadway-web-client-fastopt.js
public/javascripts/broadway-web-client-fastopt.js.map
public/javascripts/broadway-web-client-launcher.js
bower_components/
