body {
    margin-left: 10px;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: left;
}

.clickable {
    cursor: pointer;
}

.error {
    color: #ff0000;
    font-weight: bold;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.null {
    color: #aaaaaa;
}

.stats {
    color: #000080;
    font-size: 9pt;
}

.title1 {
    color: #0000ff;
    font-size: 20pt;
}

.title2 {
    color: #ff0000;
    font-size: 20pt;
}

.title3 {
    color: #00bb00;
    font-size: 20pt;
}

.title4 {
    color: #0000ff;
    font-size: 20pt;
}

.item_ident {
    padding-left: 32px;
}